body{
  background-color: #f8f9fa;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.login__title{
  font-size: 28px;
  font-weight: 600;
}

.login__label{
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
}

input#email, input#pass{
  margin: auto;
  width: 300px;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
  font-family: 'Raleway', serif;
  font-weight: 400;
}

#btnLogin{
  font-weight: 500;
  margin-top: 30px;
}

input:focus::placeholder{
  opacity: 0;
}

.login__google{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login__google p{
  margin-bottom: 5px;
  font-weight: 500;
}

#navbarNav p{
  color: #ffffff8c;
}

.dropdown-menu, .dropdown-menu-dark{
  width: 200px;
}

.navbar-brand{
  margin-right: 0;
}

#search-bar{
  max-width: 350px;
  margin-bottom: -38px;
  margin-left: -11px;
}

.ocultar{
  display: none;
}

.dot::after {
  content: "•";
  display: inline-block;
}

img, svg {
  vertical-align: middle;
}

.rating-stars {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}

.rating-stars img {
  height: 16px;
  max-width: none;
}

.div-width{
  width: 350px;
}

.input-width{
  width: 250px;
}

#saveBtn{
  margin-left: 80px;
}

#profile-container{
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

#profile-card{
  width: 650px;
}

span.fas.fa-star{
  color: #d3d3d3;
}

span.fas.fa-star.checked{
  color: #ff9017;
}

#commentTextArea:focus::placeholder{
 opacity: 0;
}

#commentBox{
  margin-top: -30px;
}

.star-widget{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 60px;
}

.star-widget input{
  display: none;
}

.star-widget label{
  font-size: 20px;
  color: #d3d3d3;
  padding: 2px;
  transition: all 0.2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
  color: #ff9017;
}

.star-widget input:checked ~ label{
  color: #ff9017;
}

#star-widget-title{
  margin-left: 63px;
  margin-top: 16px;
  margin-bottom: -10px;
}

#invalid-rate{
  margin-left: 63px;
  margin-top: 40px;
  margin-bottom: -50px;
}

#invalid-comment{
  margin-bottom: -10px;
}

.comments-card{
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.related-card{
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.related-card-item{
  margin-bottom: 30px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.related-card-item:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.related-card-item:hover .related-text{
  color: #0d6efd;
}

.related-img{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-bottom: 5px;
 
}

.related-text{
  text-decoration: none;
  font-family: 'Raleway', serif;
  color: #212529;
  font-weight: 600;
  text-transform: capitalize;
}

.rel-title{
  margin-bottom: 30px;
  font-weight: 500;
}

.rel-title span{
  font-weight: bold;
}

.sold-icon{
  color: #0d6efd;
}

.prod-stats{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sold-container{
  display: flex;
  align-items: center;
  gap: 5px;
}

.sold-container p{
  margin-bottom: 2px;
}

.prod-info{
  height: 385px;
}

#cart-btn{
  width: 200px;
  position: absolute;
  bottom: 300px;
  right: 490px;
}

#title{
  margin-top: 30px;
  margin-bottom: 80px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 40px;
}

#thumbs-img-container{
  margin-top: 10px;
  text-align: center;
}

.item-thumb{
  margin: 0 2px;
  text-decoration: none;
  opacity: 0.6;
  transition: .2s ease-in-out;
}

.item-thumb:hover{
  opacity: 1;
}

#bigImg{
  cursor: zoom-in;
  transition: 0.3s;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  transition: all 0.3s ease;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#avgScore{
  font-family: monospace;
  font-size: 16px;
}

.stars-outer{
  position: relative;
  display: inline-block;
}

.stars-inner{
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before{
  content: "\f005  \f005  \f005  \f005  \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #d3d3d3;
}

.stars-inner::before{
  content: "\f005  \f005  \f005  \f005  \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ff9017;
}

.comments-number{
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}