body{
  background-color: #f8f9fa;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.login__title{
  font-size: 28px;
  font-weight: 600;
}

.login__label{
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
}

input#email, input#pass{
  margin: auto;
  width: 300px;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
  font-family: 'Raleway', serif;
  font-weight: 400;
}

#btnLogin{
  font-weight: 500;
  margin-top: 30px;
}

input:focus::placeholder{
  opacity: 0;
}

.login__google{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login__google p{
  margin-bottom: 5px;
  font-weight: 500;
}

#navbarNav p{
  color: #ffffff8c;
}

.dropdown-menu, .dropdown-menu-dark{
  width: 250px;
}

.dropdown-menu.dropdown-menu-dark.show{
  margin-top: 4px;
  margin-left: -38px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}

.navbar-brand{
  margin-right: 0;
}

#search-bar{
  max-width: 350px;
  margin-bottom: -38px;
  margin-left: -11px;
}

.ocultar{
  display: none;
}

.dot::after {
  content: "•";
  display: inline-block;
}

img, svg {
  vertical-align: middle;
}

.rating-stars {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}

.rating-stars img {
  height: 16px;
  max-width: none;
}

.div-width{
  width: 350px;
}

.input-width{
  width: 250px;
}

#saveBtn{
  margin-left: 80px;
}

#profile-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 60px;
  border-radius: 10px;
}

#clearRangeFilter{
  color: white;
}

span.fas.fa-star{
  color: #d3d3d3;
}

span.fas.fa-star.checked{
  color: #ff9017;
}

#commentTextArea:focus::placeholder{
 opacity: 0;
}

#commentBox{
  margin-top: -30px;
}

.star-widget{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 60px;
}

.star-widget input{
  display: none;
}

.star-widget label{
  font-size: 20px;
  color: #d3d3d3;
  padding: 2px;
  transition: all 0.2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
  color: #ff9017;
}

.star-widget input:checked ~ label{
  color: #ff9017;
}

#star-widget-title{
  margin-left: 63px;
  margin-top: 16px;
  margin-bottom: -10px;
}

#invalid-rate{
  margin-left: 63px;
  margin-top: 40px;
  margin-bottom: -50px;
}

#invalid-comment{
  margin-bottom: -10px;
}

.comments-card{
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.related-card{
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.related-card-item{
  margin-bottom: 30px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.related-card-item:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.related-card-item:hover .related-text{
  color: #0d6efd;
}

.related-img{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-bottom: 5px;
 
}

.related-text{
  text-decoration: none;
  font-family: 'Raleway', serif;
  color: #212529;
  font-weight: 600;
  text-transform: capitalize;
}

.rel-title{
  margin-bottom: 30px;
  font-weight: 500;
}

.rel-title span{
  font-weight: bold;
}

.sold-icon{
  color: #0d6efd;
}

.prod-stats{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sold-container{
  display: flex;
  align-items: center;
  gap: 5px;
}

.sold-container p{
  margin-bottom: 2px;
}

.prod-info{
  height: 385px;
}

#add-cart-btn{
  width: 200px;
  position: relative;
  top: 10px;
  left: 10px;
}

#title{
  margin-top: 30px;
  margin-bottom: 80px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 40px;
}

#thumbs-img-container{
  margin-top: 10px;
  text-align: center;
}

.item-thumb{
  margin: 0 2px;
  text-decoration: none;
  opacity: 0.6;
  transition: .2s ease-in-out;
}

.item-thumb:hover{
  opacity: 1;
}

#bigImg{
  cursor: zoom-in;
  transition: 0.3s;
}

/* The Modal (background) */
.carrousel-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  transition: all 0.3s ease;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#avgScore{
  font-family: monospace;
  font-size: 16px;
}

.stars-outer{
  position: relative;
  display: inline-block;
}

.stars-inner{
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before{
  content: "\f005  \f005  \f005  \f005  \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #d3d3d3;
}

.stars-inner::before{
  content: "\f005  \f005  \f005  \f005  \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ff9017;
}

.comments-number{
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

a #cart-btn{
  position: relative;
  top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: -12px;
  margin-bottom: 8px;
  width: 38px;
  padding: 5px;
}

#cart-icon{
  font-size: 18px;
  color: #fff;
}

#cart-count{
  font-size: 10px;
  margin-top: 4px;
  margin-left: 4px;
}

a #cart-btn.visually-hidden-mod{
  margin-right: 2px;
}

.container.nav-container{
  margin-right: -18px;
}

#prev-img{
  position: relative;
  width: 80px;
  height: 380px;
  top: -380px;
  opacity: 0.5;
  transition: opacity .15s ease;
}

#next-img{
  position: relative;
  width: 80px;
  height: 380px;
  top: -760px;
  right: -545px;
  opacity: 0.5;
  transition: opacity .15s ease;
}

#prev-img:hover, #next-img:hover{
  opacity: 1;
}

#next-img #next-icon{
  margin-right: -30px;
}

#prev-img #prev-icon{
  margin-left: -30px;
}

#next-img #next-icon, #prev-img #prev-icon{
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 80px;
  color: #0d6efd;
}

#cover-img-container{
  height: 391px;
}

#modal-prev-img{
  height: 500px;
  margin-top: 120px;
  margin-left: 20px;
}

#modal-next-img{
  height: 500px;
  margin-top: 120px;
  margin-right: 20px;
}

#modal-prev-icon{
  font-size: 90px;
}

#modal-next-icon{
  font-size: 90px;
}

#sendBtn{
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 30px;
  margin-right: 5px;
  margin-top: -5px;
}

#cart-qty{
  font-family: monospace;
  font-weight: 500;
}

.no-max-width{
  max-width: none;
}

.text-correct{
  margin-left: 8px;
}

.cart-container{
  margin-right: -18px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-subtitles{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: -40px;
  margin-left: -30px;
}

.article-subtitle{
  padding-left: 30px;
  margin-right: 30px;
  margin-left: 10px;
}

.cart-content{
  margin-left: 15px;
  margin-top: -30px;
  margin-bottom: -8px;
}

.cart-item{
  margin-top: 10px;
  margin-left: -40px;
  text-align: center;
  margin-right: -5px;
  cursor: pointer;
}

.article-name{
  white-space: pre;
  margin-top: 5px;
}

.delete-article{
  margin-right: 5px;
}

.subtotal{
  white-space: pre;
  margin-left: -10px;
  margin-right: 7px;
}

.dirección-envio{
  gap: 30px;
}



input#calle.form-control.form-control-lg, 
input#número.form-control.form-control-lg, 
input#dirección.form-control.form-control-lg, 
input#esquina.form-control.form-control-lg, 
input#codigo-descuento.form-control.form-control-lg{
  padding: 5px 10px;
  font-size: 15px;
  height: 20px;
}

input#codigo-descuento.form-control.form-control-lg{
  margin-bottom: 5px;
}

input#esquina.form-control.form-control-lg{
  width: 290px;
}

input#número.form-control.form-control-lg{
  text-align: center;
  max-width: 70px;
  padding: 5px;
}

.minus-btn{
  margin-right: 10px;
}

.plus-btn{
  margin-left: 10px;
}

.qty-input{
  text-align: center;
  width: 45px;
}

.qty-control{
  margin-right: 20px;
  margin-left: -20px;
}

.tax-inc{
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
}

#card-option, #bank-option{
  accent-color: #198754;
}

.extra-width{
  width: 395px;
  margin-left: -31px;
  opacity: 1;
}

#número.form-control.form-control-lg{
  padding-right: 20px !important;
}

.unselected{
  opacity: 0.3;
}

.modal-content div.invalid-feedback p{
  color: yellow;
}

.pay-metod-title{
  white-space: pre;
}

#buy-success.alert{
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.resume-section{
  background-color: #eae8e8;
  border-radius: 0 15px 15px 0;
}

.card-shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-content{
  background-color: dodgerblue;
  border-radius: 15px 0 0 0;
}

#articles-container{
  width: 750px;
  height: 770px;
  background-color: white;
  margin-bottom: -30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart-content{
  width: 750px;
  margin-top: -20px;
  margin-bottom: -30px;
}

.cart-content.first{
  margin-top: 5px;
}

.free-space{
  background-color: #2a52ba;
  border-radius: 15px 0 0 15px;
}

#empty-cart-text{
  font-size: 50px;
  margin-top: 100px;
}

.pre{
  white-space: pre;
}

.required{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: red;
}

.profile-validation{
  height: 10px;
  margin-top: 0;
}

.profile-validation-msg{
  white-space: pre;
  margin-top: 4px;
}

.alert-hide{
  position: absolute;
  z-index: -10;
}

.alert-mod{
  position: absolute;
  top: 65px;
}

.alert-cart-mod{
  position: absolute;
  top: 190px;
  left: 910px;
  height: 50px;
  width: 300px;
  padding-right: 16px;
}

.alert-cart-mod p{
  margin-top: -5px;
}

.fit-content{
  width: 120px;
  height: 120px;
  object-fit: cover;
}

#profile__img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}

img#modal-profile{
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-left: 1rem;
}


#profile-card{
  width: 650px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  /*
  background: #E0EAFC; 
  background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);  
  background: linear-gradient(to top, #CFDEF3, #E0EAFC); 
  */

}

/*

.profile-body, .categories-body{

  background: #3a7bd5; 
  background: -webkit-linear-gradient(to top, #3a6073, #3a7bd5);  
  background: linear-gradient(to top, #3a6073, #3a7bd5); 

}



.profile-footer, .categories-footer{
  background-color: #f1f1f1;
}

*/